Repository GooBox/goobox-community-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: ignore empty errors in Sia
  src/main/sia.js
Due: eslint --fix

chore: build Linux versions for testing
  bin/pr
  package.json
Due: none

fix: command path for Linux
  __tests__/main/sia.js
  src/main/sia.js
Due: eslint --fix

fix: default sync folder on Linux
  setupTests.js
  src/render/installer/reducers/index.js
Due: eslint --fix

feat: set java.library.path based on LD_LIBRARY_PATH on Linux
  __tests__/main/storj.js
  src/main/storj.js
Due: eslint --fix

fix: update LD_LIBRARY_PATH on Linux
  __tests__/main/storj.js
  src/main/storj.js
Due: eslint --fix

chore: run eslint
  __tests__/main/storj.js
  src/main/sia.js
Due: eslint --fix

fix: hide Storj on Linux
  src/main/installer/index.js
  src/render/installer/components/screens/select-service.jsx
Due: eslint --fix

chore: update artifact name for Linux
  bin/pr
  electron-builder.yml
Due: none

chore: update os image on Travis CI
  .travis.yml
Due: none

fix: artifact name for linux
  electron-builder.yml
Due: none

fix: message body to post a message to Discord from Travis CI
  bin/pr
Due: none

feat: add log file viewer
  __tests__/render/logviewer/viewer.jsx
  jest.config.js
  package.json
  src/main/installer/index.js
  src/main/logviewer/constants.js
  src/main/logviewer/index.js
  src/render/logviewer/constants.js
  src/render/logviewer/index.jsx
  src/render/logviewer/main.css
  src/render/logviewer/viewer.jsx
  webpack.config.js
  yarn.lock
Due: eslint --fix, stylelint --fix

fix: use console instead of electron-log
  src/render/logviewer/viewer.jsx
Due: eslint --fix

chore: update message body which will be posted to Discord
  bin/pr
Due: none

Bump version: 0.2.3 → 0.3.0
  .bumpversion.cfg
  .travis.yml
  bin/pr
  package.json
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

fix: sagas per redux-saga v1.0.0
  __tests__/render/installer/sagas/increment-progress.js
  __tests__/render/installer/sagas/prepare-jre.js
  __tests__/render/installer/sagas/request-sia-wallet.js
  __tests__/render/popup/sagas/requestUsedVolume.js
  src/render/installer/sagas/increment-progress.js
  src/render/installer/sagas/prepare-jre.js
  src/render/installer/sagas/request-sia-wallet.js
  src/render/popup/sagas/requestUsedVolume.js
Due: eslint --fix

feat: output log about log file viewer
  src/main/logviewer/index.js
Due: eslint --fix

fix: update node-jre to fix https://nvd.nist.gov/vuln/detail/CVE-2018-16491
  __tests__/main/jre-installation.js
  package.json
  yarn.lock
Due: eslint --fix

Bump version: 0.3.0 → 0.3.1
  .bumpversion.cfg
  .travis.yml
  bin/pr
  package.json
Due: none

refactor: use opn to open Goobox folder
  __tests__/main/installer/handlers.js
  __tests__/main/popup/hendlers.js
  __tests__/main/popup/index.js
  __tests__/main/utils-darwin.js
  __tests__/main/utils-win32.js
  package.json
  src/main/installer/handlers.js
  src/main/popup/handlers.js
  src/main/popup/index.js
  src/main/utils.js
  yarn.lock
Due: eslint --fix

chore: deploy artifacts with electron-builder instead of Travic CI's deploy function
  .travis.yml
  ci-build.sh
  package.json
Due: none

feat: enable auto updater
  __tests__/main/index.js
  package.json
  src/main/index.js
  src/main/updater.js
  yarn.lock
Due: eslint --fix

refactor: use loadFile instead of loadURL
  __mocks__/electron.js
  __tests__/main/installer/index.js
  src/main/installer/index.js
Due: eslint --fix

refactor: enable node integration explicitly
  __tests__/main/popup/index.js
  src/main/popup/index.js
Due: eslint --fix

chore: update appveyor configuration to use yarn
  appveyor.yml
Due: none

refactor: add PauseBtn and RestartBtn components
  __tests__/render/popup/components/buttons/pause.jsx
  __tests__/render/popup/components/buttons/restart.jsx
  __tests__/render/popup/components/footer.jsx
  src/render/popup/components/buttons/index.js
  src/render/popup/components/buttons/pause.jsx
  src/render/popup/components/buttons/restart.jsx
Due: eslint --fix

refactor: do not make anonymous functions in Header component
  src/render/popup/components/header.jsx
Due: eslint --fix

refactor: Status component doesn't take style directly
  __tests__/render/popup/components/status.jsx
  __tests__/render/popup/containers/status.js
  src/render/popup/components/status.jsx
  src/render/popup/containers/status.js
  src/render/popup/main.css
Due: eslint --fix, stylelint --fix

refactor: use shell API instead of opn package
  __mocks__/electron.js
  __tests__/main/popup/hendlers.js
  src/main/popup/handlers.js
Due: eslint --fix

feat: disable actions while changing state
  __tests__/render/popup/components/status.jsx
  src/render/popup/components/status.jsx
  src/render/popup/main.css
  src/render/popup/sagas/changeState.js
Due: eslint --fix, stylelint --fix

refactor: rename reducers to modules
  __tests__/render/popup/modules/reducers.js
  src/render/popup/main.jsx
  src/render/popup/modules/index.js
  src/render/popup/modules/reducers.js
Due: eslint --fix

refactor: move constants and actions into modules
  __tests__/render/popup/containers/status.js
  __tests__/render/popup/modules/actions.js
  __tests__/render/popup/modules/reducers.js
  __tests__/render/popup/sagas/changeState.js
  __tests__/render/popup/sagas/index.js
  __tests__/render/popup/sagas/requestUsedVolume.js
  __tests__/render/popup/sagas/updateTotalVolume.js
  src/render/popup/containers/status.js
  src/render/popup/modules/actions.js
  src/render/popup/modules/index.js
  src/render/popup/modules/reducers.js
  src/render/popup/modules/types.js
  src/render/popup/sagas/changeState.js
  src/render/popup/sagas/index.js
  src/render/popup/sagas/requestUsedVolume.js
  src/render/popup/sagas/updateTotalVolume.js
Due: eslint --fix

refactor: rename types
  __tests__/render/popup/modules/actions.js
  __tests__/render/popup/sagas/index.js
  src/render/popup/modules/actions.js
  src/render/popup/modules/reducers.js
  src/render/popup/modules/types.js
  src/render/popup/sagas/index.js
Due: eslint --fix

chore: configure logs
  __tests__/render/logger.js
  src/render/logger.js
  src/render/popup/main.jsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
