Repository GooBox/goobox-community-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat: add a button to open logs
  __mocks__/electron-log.js
  __tests__/render/popup/sagas/index.js
  __tests__/render/popup/sagas/openSettings.js
  src/render/popup/components/header.jsx
  src/render/popup/index.js
  src/render/popup/main.css
  src/render/popup/sagas/index.js
  src/render/popup/sagas/openSettings.js
Due: eslint --fix, stylelint --fix

test: add tests for buttons on the popup window
  __tests__/render/popup/components/status.jsx
  __tests__/render/popup/sagas/openSettings.js
Due: eslint --fix

refactor: each handler is moved in a file
  __tests__/main/popup/handlers/changeState.js
  __tests__/main/popup/handlers/changeTheme.js
  __tests__/main/popup/handlers/openSyncFolder.js
  __tests__/main/popup/handlers/siaFund.js
  __tests__/main/popup/handlers/updateState.js
  __tests__/main/popup/handlers/usedVolume.js
  __tests__/main/popup/handlers/willQuit.js
  __tests__/main/popup/hendlers.js
  __tests__/main/popup/index.js
  src/main/popup/handlers.js
  src/main/popup/handlers/changeState.js
  src/main/popup/handlers/changeTheme.js
  src/main/popup/handlers/index.js
  src/main/popup/handlers/openSyncFolder.js
  src/main/popup/handlers/siaFund.js
  src/main/popup/handlers/updateState.js
  src/main/popup/handlers/usedVolume.js
  src/main/popup/handlers/willQuit.js
  src/main/popup/index.js
Due: eslint --fix

test: add tests for handlers of the popup window
  __tests__/main/popup/handlers/index.js
  __tests__/main/popup/handlers/updateState.js
  src/main/popup/handlers/openSyncFolder.js
Due: eslint --fix

refactor: use shall API to open the sync folder from the popup window
  __tests__/main/popup/index.js
  src/main/popup/index.js
Due: eslint --fix

chore: enable production build
  package.json
Due: none

chore: update bumpversion configuration
  .bumpversion.cfg
Due: none

Bump version: 0.3.1 → 0.3.2
  .bumpversion.cfg
  ci-build.sh
  package.json
Due: none

chore: update dependencies
  package.json
  yarn.lock
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.css
